{% extends "layout.html" %} {% block content %}
<div class="jumbotron">
    <div class="row">
        <div class="col-lg-6">
            <div style="margin-top : 15%">
                <h1 class="display-3">Hello, Yomadics!</h1>
                <p class="lead">Of all the books in the world. The best stories are found between the pages of a passport</p>
                <p class="lead">
                    <a class="btn btn-primary btn-lg" href="#" role="button">Explore</a>
                </p>
            </div>

        </div>
        <div class="col-lg-6">
            <img src="../static/assets/1.png" class="img-responsive" style="width:100%">
        </div>
    </div>

</div>
{% endblock content %}